//Import Style
@import "../font/fontface";
@import "common/common";
@import "common/mixin";

body {
  margin: 0;
  padding: 0;
  font-family: "Prime";
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4;
  overflow: hidden;
}

#homepage-wrapper {
  .section-title {
    display: table;
    margin: 10px auto 50px auto;
    position: relative;
    padding: 10px 30px;

    h2 {
      text-transform: uppercase;
      color: #fff;
      font-size: 75px;
      letter-spacing: 1.5px;
    }

    &:after {
      content: '';
      width: 100%;
      height: 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../img/bg-title.png") no-repeat;
      background-size: 100% 100%;
    }
  }

  .section-content {
    ul.list-item {
      @extend %d-flex;
      flex-wrap: wrap;

      li {
        @include flex-width(33.33%);
        color: #fff;

        .item {
          &-title {
            text-align: center;
            font-weight: bold;
            font-size: 30px;
            position: relative;
            padding-bottom: 20px;
            margin-bottom: 20px;

            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 15px;
              background: url(../img/bg-title.png) no-repeat;
              background-size: contain;
              background-position: center bottom;
            }
          }

          &-content {
            h4 {
              font-size: 25px;
              text-align: center;
            }

            h5 {
              text-align: justify;
              text-align-last: center;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  #section-1 {
    background: url("../img/bg-ss-1.jpg") no-repeat;
    background-size: cover;

    .section {
      &-header {
        margin-bottom: 20vh;

        h1 {
          margin-bottom: 20px;

          a {
            display: table;
            margin: 0 auto;

            img {
              max-width: 50vw;
            }
          }
        }

        h3 {
          display: table;
          margin: 0 auto;
          color: #fff;
          font-size: 40px;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            left: -120px;
            top: 50%;
            @include translate(0, -50%);
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 100px solid #fff;
          }

          &:after {
            content: '';
            position: absolute;
            right: -120px;
            top: 50%;
            @include translate(0, -50%);
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 100px solid #fff;
          }
        }
      }

      &-btn {
        text-transform: uppercase;
        display: table;
        margin: 10px auto;

        a {
          width: 220px;
          color: #fff;
          text-align: center;
          display: block;
          font-size: 22px;
          letter-spacing: 1px;
          padding: 10px 60px 10px 20px;
          background-color: #c95c5c;
          background-repeat: no-repeat;
          background-position: 95% center;
          border-bottom: 5px solid #904040;
          background-size: auto 60%;
          @extend %transition;
          border-radius: 8px;

          &:hover {
            background-color: rgba(201, 92, 92, 0.8);
          }
        }
      }

      &-menu {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #f4ac50;
        padding: 15px 0;

        nav {
          display: table;
          margin: 0 auto;

          ul {
            @extend %d-flex;

            li {
              padding: 0 70px;
              position: relative;

              a {
                text-transform: uppercase;
                color: #000;
                font-weight: bold;
                padding: 5px 0;
                font-size: 25px;
                position: relative;

                &:after {
                  content: '';
                  position: absolute;
                  bottom: 0;
                  left: 50%;
                  width: 0;
                  @include translate(-50%, 0);
                  background: #000;
                  height: 2px;
                  @extend %transition;
                }

                &:hover {
                  color: #333;

                  &:after {
                    width: 100%;
                  }
                }
              }

              &:after {
                content: '';
                height: 8px;
                width: 8px;
                background: #000;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 50%;
                @include translate(0, -50%)
              }

              &:last-child {
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  #section-2 {
    background: url("../img/bg-ss-2.jpg") no-repeat;
    background-size: cover;

    .section {
      &-image {
        ul {
          @extend %d-flex;

          li {
            @include flex-width(33.33%);

            span {
              display: block;
              padding: 0 20px;

              img {
                width: 100%;
                height: 230px;
                overflow: hidden;
                display: block;
                border: 8px solid rgba(255, 255, 255, 0.2);
                border-radius: 5px;
              }
            }
          }
        }
      }

      &-content {
        margin-top: 50px;
      }
    }
  }

  #section-3 {
    background: url("../img/bg-ss-3.jpg") no-repeat;
    background-size: cover;

    .section {
      &-image {
        ul {
          @extend %d-flex;
          flex-wrap: wrap;

          li {
            @include flex-width(33.33%);

            span {
              display: block;
              padding: 20px;

              img {
                width: 100%;
                height: 230px;
                overflow: hidden;
                display: block;
                border: 8px solid rgba(255, 255, 255, 0.2);
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }

  #section-4 {
    background: url("../img/bg-ss-4.jpg") no-repeat;
    background-size: cover;

    .fp-tableCell {
      vertical-align: top
    }

    .section {
      &-content {
        margin-top: 50px;

        ul.list-item {
          @extend %d-flex;

          li {
            .item {
              padding: 10px 30px;

              &-title {
                font-size: 25px;
                padding-bottom: 15px;
                margin-bottom: 15px;

              }

              &-content {
                &-pic {
                  border: 5px solid rgba(255, 255, 255, 0.3);
                  border-radius: 5px;
                  margin: 5px auto;
                  width: 120px;
                  height: 120px;

                  img {
                    @extend %imgson
                  }
                }

                &-sub {
                  text-align: center;
                  font-size: 18px;
                }
              }
            }
          }
        }
      }

      &-license {
        background: #222;
        color: #fff;
        padding: 15px;
        position: absolute;
        text-align: center;
        letter-spacing: 1px;
        font-weight: bold;
        bottom: 0;
        left: 0;
        width: 100%;

        span {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            left: -70px;
            top: 50%;
            @include translate(0, -50%);
            width: 0;
            height: 0;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-right: 50px solid #fff;
          }

          &:after {
            content: '';
            position: absolute;
            right: -70px;
            top: 50%;
            @include translate(0, -50%);
            width: 0;
            height: 0;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-left: 50px solid #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) and (max-height: 850px) {
  #homepage-wrapper {
    .section-title {
      margin-bottom: 20px;

      h2 {
        font-size: 70px;
      }

    }

    #section-2 {


      .section {
        &-image {
          ul {

            li {


              span {
                display: block;

                img {
                  height: 180px;
                }
              }
            }
          }
        }

        &-content {
          margin-top: 30px;
        }
      }
    }
  }
}

@media (max-width: 1440px) and (max-height: 780px) {
  #homepage-wrapper {
    .section-title {
      h2 {
        font-size: 60px;
      }

    }

    .section-content {
      ul.list-item {
        li {
          .item {
            &-content {
              h4 {
                font-size: 20px;
              }

              h5 {
                font-size: 17px;
              }
            }
          }
        }
      }
    }

    #section-1 {
      .section {
        &-header {
          margin-bottom: 10vh;

          h1 {
            margin-bottom: 20px;

            a {

              img {
                max-width: 40vw;
              }
            }
          }

          h3 {
            font-size: 30px;
          }
        }


        &-menu {
          nav {

            ul {
              @extend %d-flex;

              li {
                padding: 0 70px;
                position: relative;

                a {
                  font-size: 20px;
                }

              }
            }
          }
        }
      }
    }

    #section-2 {
      .section {
        &-image {
          ul {
            li {
              span {
                display: block;

                img {
                  height: 180px;
                }
              }
            }
          }
        }

        &-content {
          margin-top: 20px;
        }
      }
    }

    #section-3 {
      .section {
        &-image {
          ul {
            li {
              span {
                display: block;

                img {
                  height: 200px;

                }
              }
            }
          }
        }
      }
    }

    #section-4 {

      .section {
        &-content {
          margin-top: 30px;

          ul.list-item {
            @extend %d-flex;

            li {
              .item {
                padding: 10px 20px;

                &-title {
                  font-size: 20px;
                  padding-bottom: 10px;
                  margin-bottom: 10px;

                }

                &-content {
                  &-pic {
                    width: 80px;
                    height: 80px;

                  }

                  &-sub {
                    text-align: center;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }

        &-license {
          padding: 10px;
          font-size: 18px;

        }
      }
    }
  }
}


@media (max-width: 580px) {
  #homepage-wrapper {
    .section-title {
      h2 {
        font-size: 40px;
        padding-bottom: 15px;
      }

    }

    .section-content {
      ul.list-item {
        flex-wrap: wrap;

        li {
          @include flex-width(100%);
          margin-bottom: 30px;
        }
      }
    }

    #section-1 {

      .section {
        &-header {
          h1 {
            a {

              img {
                max-width: 60vw;
              }
            }
          }

          h3 {
            font-size: 30px;

            &:after {
              right: -80px;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-left: 60px solid #fff;
            }

            &:before {
              left: -80px;
              border-top: 5px solid transparent;
              border-bottom: 5px solid transparent;
              border-right: 60px solid #fff;
            }
          }
        }

        &-btn {
          a {
            font-size: 18px;
          }
        }

        &-menu {
          nav {
            ul {
              li {
                padding: 0 20px;
                position: relative;

                a {
                  font-size: 18px;
                }

              }
            }
          }
        }
      }
    }

    #section-2 {
      .section {
        &-image {
          ul {
            flex-wrap: wrap;

            li {
              @include flex-width(100%);
              margin-bottom: 30px;
            }
          }
        }

        &-content {
          margin-top: 20px;
        }
      }
    }

    #section-3 {
      .section {
        &-image {
          ul {
            flex-wrap: wrap;

            li {
              @include flex-width(100%);
            }
          }
        }
      }
    }

    #section-4 {

      .section {
        &-content {
          margin-top: 30px;

          ul.list-item {

            li {
              .item {
                &-title {
                  font-size: 20px;
                  padding-bottom: 20px;
                  margin-bottom: 20px;

                }

                &-content {
                  &-pic {
                    width: 120px;
                    height: 120px;

                  }

                }
              }
            }
          }
        }

        &-license {
          position: static;
          padding: 10px;
          font-size: 18px;

        }
      }
    }
  }
}