@font-face {
  font-family: "Prime";
  src: url("../font/Prime-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Prime";
  src: url("../font/Prime-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}
.container-master {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

*[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.5;
}

* {
  outline: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

a, button {
  cursor: pointer;
}

#homepage-wrapper #section-4 .section-content ul.list-item, #homepage-wrapper #section-3 .section-image ul, #homepage-wrapper #section-2 .section-image ul, #homepage-wrapper #section-1 .section-menu nav ul, #homepage-wrapper .section-content ul.list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#homepage-wrapper #section-1 .section-menu nav ul li a:after, #homepage-wrapper #section-1 .section-btn a {
  transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  -ms-transition: all 0.3s !important;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
}

a {
  color: #0d4ca1;
}
a:hover {
  color: #b0cb88;
}

.cb {
  clear: both;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

#homepage-wrapper #section-4 .section-content ul.list-item li .item-content-pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

img {
  max-width: 100%;
  height: auto;
}

/*--------Mixin--------*/
body {
  margin: 0;
  padding: 0;
  font-family: "Prime";
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4;
  overflow: hidden;
}

#homepage-wrapper .section-title {
  display: table;
  margin: 10px auto 50px auto;
  position: relative;
  padding: 10px 30px;
}
#homepage-wrapper .section-title h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 75px;
  letter-spacing: 1.5px;
}
#homepage-wrapper .section-title:after {
  content: "";
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../img/bg-title.png") no-repeat;
  background-size: 100% 100%;
}
#homepage-wrapper .section-content ul.list-item {
  flex-wrap: wrap;
}
#homepage-wrapper .section-content ul.list-item li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  color: #fff;
}
#homepage-wrapper .section-content ul.list-item li .item-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#homepage-wrapper .section-content ul.list-item li .item-title:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background: url(../img/bg-title.png) no-repeat;
  background-size: contain;
  background-position: center bottom;
}
#homepage-wrapper .section-content ul.list-item li .item-content h4 {
  font-size: 25px;
  text-align: center;
}
#homepage-wrapper .section-content ul.list-item li .item-content h5 {
  text-align: justify;
  text-align-last: center;
  font-size: 18px;
}
#homepage-wrapper #section-1 {
  background: url("../img/bg-ss-1.jpg") no-repeat;
  background-size: cover;
}
#homepage-wrapper #section-1 .section-header {
  margin-bottom: 20vh;
}
#homepage-wrapper #section-1 .section-header h1 {
  margin-bottom: 20px;
}
#homepage-wrapper #section-1 .section-header h1 a {
  display: table;
  margin: 0 auto;
}
#homepage-wrapper #section-1 .section-header h1 a img {
  max-width: 50vw;
}
#homepage-wrapper #section-1 .section-header h3 {
  display: table;
  margin: 0 auto;
  color: #fff;
  font-size: 40px;
  position: relative;
}
#homepage-wrapper #section-1 .section-header h3:before {
  content: "";
  position: absolute;
  left: -120px;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 100px solid #fff;
}
#homepage-wrapper #section-1 .section-header h3:after {
  content: "";
  position: absolute;
  right: -120px;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 100px solid #fff;
}
#homepage-wrapper #section-1 .section-btn {
  text-transform: uppercase;
  display: table;
  margin: 10px auto;
}
#homepage-wrapper #section-1 .section-btn a {
  width: 220px;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 22px;
  letter-spacing: 1px;
  padding: 10px 60px 10px 20px;
  background-color: #c95c5c;
  background-repeat: no-repeat;
  background-position: 95% center;
  border-bottom: 5px solid #904040;
  background-size: auto 60%;
  border-radius: 8px;
}
#homepage-wrapper #section-1 .section-btn a:hover {
  background-color: rgba(201, 92, 92, 0.8);
}
#homepage-wrapper #section-1 .section-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f4ac50;
  padding: 15px 0;
}
#homepage-wrapper #section-1 .section-menu nav {
  display: table;
  margin: 0 auto;
}
#homepage-wrapper #section-1 .section-menu nav ul li {
  padding: 0 70px;
  position: relative;
}
#homepage-wrapper #section-1 .section-menu nav ul li a {
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  padding: 5px 0;
  font-size: 25px;
  position: relative;
}
#homepage-wrapper #section-1 .section-menu nav ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  -moz-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #000;
  height: 2px;
}
#homepage-wrapper #section-1 .section-menu nav ul li a:hover {
  color: #333;
}
#homepage-wrapper #section-1 .section-menu nav ul li a:hover:after {
  width: 100%;
}
#homepage-wrapper #section-1 .section-menu nav ul li:after {
  content: "";
  height: 8px;
  width: 8px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
#homepage-wrapper #section-1 .section-menu nav ul li:last-child:after {
  display: none;
}
#homepage-wrapper #section-2 {
  background: url("../img/bg-ss-2.jpg") no-repeat;
  background-size: cover;
}
#homepage-wrapper #section-2 .section-image ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
#homepage-wrapper #section-2 .section-image ul li span {
  display: block;
  padding: 0 20px;
}
#homepage-wrapper #section-2 .section-image ul li span img {
  width: 100%;
  height: 230px;
  overflow: hidden;
  display: block;
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
#homepage-wrapper #section-2 .section-content {
  margin-top: 50px;
}
#homepage-wrapper #section-3 {
  background: url("../img/bg-ss-3.jpg") no-repeat;
  background-size: cover;
}
#homepage-wrapper #section-3 .section-image ul {
  flex-wrap: wrap;
}
#homepage-wrapper #section-3 .section-image ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
#homepage-wrapper #section-3 .section-image ul li span {
  display: block;
  padding: 20px;
}
#homepage-wrapper #section-3 .section-image ul li span img {
  width: 100%;
  height: 230px;
  overflow: hidden;
  display: block;
  border: 8px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
#homepage-wrapper #section-4 {
  background: url("../img/bg-ss-4.jpg") no-repeat;
  background-size: cover;
}
#homepage-wrapper #section-4 .fp-tableCell {
  vertical-align: top;
}
#homepage-wrapper #section-4 .section-content {
  margin-top: 50px;
}
#homepage-wrapper #section-4 .section-content ul.list-item li .item {
  padding: 10px 30px;
}
#homepage-wrapper #section-4 .section-content ul.list-item li .item-title {
  font-size: 25px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
#homepage-wrapper #section-4 .section-content ul.list-item li .item-content-pic {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  margin: 5px auto;
  width: 120px;
  height: 120px;
}
#homepage-wrapper #section-4 .section-content ul.list-item li .item-content-sub {
  text-align: center;
  font-size: 18px;
}
#homepage-wrapper #section-4 .section-license {
  background: #222;
  color: #fff;
  padding: 15px;
  position: absolute;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  bottom: 0;
  left: 0;
  width: 100%;
}
#homepage-wrapper #section-4 .section-license span {
  position: relative;
}
#homepage-wrapper #section-4 .section-license span:before {
  content: "";
  position: absolute;
  left: -70px;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-right: 50px solid #fff;
}
#homepage-wrapper #section-4 .section-license span:after {
  content: "";
  position: absolute;
  right: -70px;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 50px solid #fff;
}

@media (max-width: 1600px) and (max-height: 850px) {
  #homepage-wrapper .section-title {
    margin-bottom: 20px;
  }
  #homepage-wrapper .section-title h2 {
    font-size: 70px;
  }
  #homepage-wrapper #section-2 .section-image ul li span {
    display: block;
  }
  #homepage-wrapper #section-2 .section-image ul li span img {
    height: 180px;
  }
  #homepage-wrapper #section-2 .section-content {
    margin-top: 30px;
  }
}
@media (max-width: 1440px) and (max-height: 780px) {
  #homepage-wrapper .section-title h2 {
    font-size: 60px;
  }
  #homepage-wrapper .section-content ul.list-item li .item-content h4 {
    font-size: 20px;
  }
  #homepage-wrapper .section-content ul.list-item li .item-content h5 {
    font-size: 17px;
  }
  #homepage-wrapper #section-1 .section-header {
    margin-bottom: 10vh;
  }
  #homepage-wrapper #section-1 .section-header h1 {
    margin-bottom: 20px;
  }
  #homepage-wrapper #section-1 .section-header h1 a img {
    max-width: 40vw;
  }
  #homepage-wrapper #section-1 .section-header h3 {
    font-size: 30px;
  }
  #homepage-wrapper #section-1 .section-menu nav ul li {
    padding: 0 70px;
    position: relative;
  }
  #homepage-wrapper #section-1 .section-menu nav ul li a {
    font-size: 20px;
  }
  #homepage-wrapper #section-2 .section-image ul li span {
    display: block;
  }
  #homepage-wrapper #section-2 .section-image ul li span img {
    height: 180px;
  }
  #homepage-wrapper #section-2 .section-content {
    margin-top: 20px;
  }
  #homepage-wrapper #section-3 .section-image ul li span {
    display: block;
  }
  #homepage-wrapper #section-3 .section-image ul li span img {
    height: 200px;
  }
  #homepage-wrapper #section-4 .section-content {
    margin-top: 30px;
  }
  #homepage-wrapper #section-4 .section-content ul.list-item li .item {
    padding: 10px 20px;
  }
  #homepage-wrapper #section-4 .section-content ul.list-item li .item-title {
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  #homepage-wrapper #section-4 .section-content ul.list-item li .item-content-pic {
    width: 80px;
    height: 80px;
  }
  #homepage-wrapper #section-4 .section-content ul.list-item li .item-content-sub {
    text-align: center;
    font-size: 16px;
  }
  #homepage-wrapper #section-4 .section-license {
    padding: 10px;
    font-size: 18px;
  }
}
@media (max-width: 580px) {
  #homepage-wrapper .section-title h2 {
    font-size: 40px;
    padding-bottom: 15px;
  }
  #homepage-wrapper .section-content ul.list-item {
    flex-wrap: wrap;
  }
  #homepage-wrapper .section-content ul.list-item li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  #homepage-wrapper #section-1 .section-header h1 a img {
    max-width: 60vw;
  }
  #homepage-wrapper #section-1 .section-header h3 {
    font-size: 30px;
  }
  #homepage-wrapper #section-1 .section-header h3:after {
    right: -80px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 60px solid #fff;
  }
  #homepage-wrapper #section-1 .section-header h3:before {
    left: -80px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 60px solid #fff;
  }
  #homepage-wrapper #section-1 .section-btn a {
    font-size: 18px;
  }
  #homepage-wrapper #section-1 .section-menu nav ul li {
    padding: 0 20px;
    position: relative;
  }
  #homepage-wrapper #section-1 .section-menu nav ul li a {
    font-size: 18px;
  }
  #homepage-wrapper #section-2 .section-image ul {
    flex-wrap: wrap;
  }
  #homepage-wrapper #section-2 .section-image ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  #homepage-wrapper #section-2 .section-content {
    margin-top: 20px;
  }
  #homepage-wrapper #section-3 .section-image ul {
    flex-wrap: wrap;
  }
  #homepage-wrapper #section-3 .section-image ul li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  #homepage-wrapper #section-4 .section-content {
    margin-top: 30px;
  }
  #homepage-wrapper #section-4 .section-content ul.list-item li .item-title {
    font-size: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  #homepage-wrapper #section-4 .section-content ul.list-item li .item-content-pic {
    width: 120px;
    height: 120px;
  }
  #homepage-wrapper #section-4 .section-license {
    position: static;
    padding: 10px;
    font-size: 18px;
  }
}

/*# sourceMappingURL=main.css.map */
