@font-face {
  font-family: "Prime";
  src: url("../font/Prime-Light.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Prime";
  src: url("../font/Prime-Regular.ttf");
  font-weight: bold;
  font-style: normal;
}